html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(54, 54, 54, .94) !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    background-color: rgba(250, 250, 250, .85);
    overflow: hidden;
}
body {
    font-size: 12pt;
}
.navigation-bar {
    width: 100%;
    height: 58px;
    padding: 8px 0 8px 0;
    background-color: #CFD8DC;
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    /*box-shadow: 0px 2px 6px #BDBDBD;*/
    border-bottom-style: solid;
    border-bottom-color: rgba(128, 128, 128, .35);
    border-bottom-width: thin;
    transition: all .45s;
}
.omnibar {
    background-color: #FAFAFA;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 12pt;
    padding: 6pt 12pt 6pt 12pt;
    box-shadow: 0px 2px 6px #BDBDBD;
    text-align: center;
    font-weight: 500;
    color: rgba(54, 54, 54, .94) !important;
}
.omnibar::-webkit-input-placeholder {
    letter-spacing: 1pt;
    color: rgba(96, 96, 96, .6);
    transition: all .45s;
}
.omnibar[secure="true"]::-webkit-input-placeholder {
    color: #4CAF50;
}
.omnibar::selection {
    color: default;
}
coast-tabs {
    /*background: #000;*/
    width: 100%;
    overflow-x: auto;
    display: block;
    text-align: left;
    margin-top: 8px;
}
coast-tab {
    background-color: #B0BEC5;
    display: inline-block;
    max-width: 200px;
    min-width: 100px;
    width: auto;
    border-right-style: solid;
    border-right-color: rgba(128, 128, 128, .35);
    border-right-width: thin;
    border-top: none;
    padding: 3px 8px 3px 8px;
    font-size: 10pt;
    transition: all .45s;
}
coast-tab a.fa {
    font-weight: 100;
    opacity: .65;
    visibility: hidden;
}
coast-tab .title {
    margin: 0 4px 0 16px;
}
coast-tab[active="true"] {
    background-color: #CFD8DC;
}
coast-tab[active="true"] a.fa {
    visibility: visible;
}
views {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
webview {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all .45s;
}
