html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Open Sans', Roboto, "Helvetica Neue", Helvetica, Arial, monospace;
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(54, 54, 54, .94) !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    background-color: rgba(250, 250, 250, .85);
    overflow: hidden;
}
body {
    font-size: 12pt;
    text-align: center;
}

div {
    font-size: 54pt;
}
